.header {
  width: 60px;
  width: auto;
  display: flex;
  list-style: none;
}
.menu-item {
  margin-right: 10px;
  font-size: 20px;
  color: blue;
}
.link {
  text-decoration: none;
}
.menu-item :hover {
  color: red;
}
